/* === TABLE OF CONTENTS ===
    1. GENERAL SETTINGS
    2. NAVBAR
    3. SHOWCASE
    4. HOMECARDS
    5. SHOWCASE 2
    6. SHOWCASE 3
    7. FOLLOW
    8. FOOTER
    9. MEDIA QUERIES (TABLET, MOBILE)
*/


/* === GENERAL SETTINGS === */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
}

a {
    color: #262626;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.btn-black {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: white;
    font-size: 15px;
}

.btn-black:hover {
    opacity: 0.9;
}

.btn-white {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #f4f4f4;
    font-size: 15px;
}

.btn-white:hover {
    opacity: 0.9;
}

/* === NAVBAR === */

.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 6%;
    z-index: 1;
    display: none;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
}

.main-nav .logo {
    width: 110px;
}

.main-nav ul {
    display: flex;
}

.main-nav ul li {
    padding: 0 10px;
}

.main-nav ul li a {
    padding: 0 0 2px 0;
}

.main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
}

.main-nav ul.main-menu {
    flex: 1;
    margin-left: 20px;
}

/* === SHOWCASE === */

.showcase {
    width: 100%;
    height: 400px;
    background: url('img/showcase.png') center center / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0 50px 0;
    margin: 0 0 20px 0;
}

.showcase h2, .showcase p {
    margin: 0 0 10px 0;
}

.showcase .btn-black {
    margin: 10px 0 0 0;
}

/* === HOME CARDS === */

.home-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: 0 0 20px 0;
}

.home-cards img {
    width: 100%;
    margin-bottom: 20px;
}

.home-cards h3 {
    margin-bottom: 5px;
}

.home-cards a {
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    font-weight: bold;
}

.home-cards a:hover i {
    padding: 0 0 0 10px;
}

/* === SHOWCASE2 === */

.showcase2 {
    width: 100%;
    height: 350px;
    background: url('img/xbox.png') center center / cover no-repeat;
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
}

.showcase2 div {
    width: 40%;
    margin: 0 0 0 30px;
}

.showcase2 h2 {
    margin: 0 0 10px 0;
}

.showcase2 p {
    margin: 0 0 10px 0;
}

.showcase2 a {
    margin: 10px 0 0 0;
}

/* === SHOWCASE3 === */

.showcase3 {
    width: 100%;
    height: 350px;
    color: #fff;
    background: url('img/carbon.jpg') center center / cover no-repeat;
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
}

.showcase3 div {
    width: 40%;
    margin: 0 0 0 30px;
}

.showcase3 h2 {
    margin: 0 0 10px 0;
}

.showcase3 p {
    margin: 0 0 10px 0;
}

.showcase3 a {
    margin: 10px 0 0 0;
}

/* === FOLLOW === */

.follow-social {
    margin: 25px 0;
    display: flex;
    align-items: center;
}

.follow-social a {
    padding: 0 0 0 15px;
}

/* === FOOTER === */

.footer {
    background: #f2f2f2;
    padding:40px;
    margin: 20px 0 0 0;
}

.footer .container {
    padding: 0 20px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
}

.footer-grid h4 {
    color: #616161;
}

.footer-grid li {
    font-size: 13px;
    margin: 15px 0 15px 0;
}

.footer-flex {
    margin: 40px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.footer-flex div {
    display: flex;
    align-items: center;
    color: #616161;
}

.footer-flex div i {
    padding: 0 10px 0 0;
}

.footer-flex ul {
    display: flex;
    flex-wrap: wrap;
}

.footer-flex ul li {
    margin: 0 30px 0 0;
}

/* === MEDIA QUERIES (TABLET) === */

@media (max-width: 768px) {
  
    .menu-btn {
        display: block;
    }

    .menu-btn:hover {
        opacity: 0.8;
    }

    .main-nav .main-menu {
        justify-content: start;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-500px);
        background: #f2f2f2;
        width: 50%;
        height: 100vh;
        padding: 30px;
        opacity: 0.9;
        border-right: #ccc 1px solid;
        transition: transform ease-in-out 0.5s;
    }

    .main-nav .main-menu.show {
        transform: translateX(-20px);
    }

    .main-nav .main-menu li {
        padding: 10px;
        border-bottom: solid 1px #D0CECD;
    }

    .main-nav .main-menu li:last-child {
        border-bottom: none;
    }

    .main-nav .right-menu {
        margin: 0 40px 0 0;
    }

    .home-cards {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .showcase2 p {
        display: none;
    }

    .showcase3 div {
        width: 100%;
    }
}

/* === MEDIA QUERIES (MOBILE) === */
@media (max-width: 480px) {

    .main-nav .main-menu {
        padding: 20px;
    }

    .home-cards {
        grid-template-columns: 1fr;
    }
        
    .footer-grid {
        grid-template-columns: 1fr;
    }
}
